.nav-link{
    color: rgb(0, 0, 0) !important;
    
    
    margin:  0 20px;
}

.navbar-brand{
    color: black !important;
}

h5{
    margin-top: -280px !important;
    color: yellow !important;
    font-size: 40px !important;
}

h2{
    text-align: center;
    color: black !important;
    margin-top: 40px ;
}